body {
    background-color: #000;
    margin: 0;
    overflow: hidden;
}

a {
    font-family:monospace;
    color:#fff;
    text-decoration:none;
    background:#222;
    padding:4px 6px;
    z-index:100;
}

canvas {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

#container {
    position: absolute;
    width: 768px;
    height: 485px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.hidden {
    position: absolute;
    visibility: hidden;
}